# The @awesome.me kit comes from Font Awesome's registry (token required);
# @fortawesome/fontawesome-free resolves from the public npm registry.
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_TOKEN}


